@font-face {
  font-family: 'Cocogoose';
  src: url("/css/fonts/Cocogoose.woff2") format("woff2"), url("/css/fonts/Cocogoose.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-family: 'Cocogoose', Impact, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h3,
h4,
h5,
h6 {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn {
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0px;
  transition: none;
}

.form-control {
  border-radius: 0px;
}

.form-control:focus {
  box-shadow: none;
}

.form-row > .col, .form-row > [class*=col-] {
  padding: 1rem;
}

header.masthead {
  display: flex;
  min-height: 85%;
  position: relative;
  background-color: #262D7D;
  background-image: linear-gradient(-35deg, #5591FF 50%, #262D7D 50%);
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead .hero-graphic {
  background: url(/img/new/bg-masthead.png) no-repeat top center;
  background-size: contain;
  height: 16rem;
}

@media (min-width: 768px) {
  header.masthead .hero-graphic {
    background-size: 100%;
    height: 75%;
  }
}

header.masthead .logo-wrapper {
  height: 30%;
  position: relative;
}

header.masthead .logo-wrapper .logo {
  max-height: 80%;
  padding: 1rem 0 0 0;
}

@media (min-width: 768px) {
  header.masthead .logo-wrapper .logo {
    transform: rotate(-32deg);
    left: -5%;
    bottom: -15%;
    position: absolute;
  }
}

header.masthead .hero-form-wrapper {
  padding: 1rem;
  background: #262D7D;
}

header.masthead .hero-form-wrapper input {
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
}

header.masthead .hero-form-wrapper input::placeholder {
  color: #5591FF;
}

header.masthead .hero-form-wrapper input:focus {
  background: white;
}

header.masthead .hero-form-wrapper input:focus::placeholder {
  color: rgba(85, 145, 255, 0.25);
}

header.masthead h2 {
  color: white;
  mix-blend-mode: overlay;
  font-size: 3.5rem;
}

@media (min-width: 768px) {
  header.masthead h2 {
    font-size: 5rem;
  }
}

@media (min-width: 992px) {
  header.masthead h2 {
    font-size: 7rem;
  }
}

header.masthead h3 {
  text-shadow: 2px 2px #262D7D;
  color: white;
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead h3 {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  header.masthead h3 {
    font-size: 3.5rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding: 6rem 0;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
