header.masthead {
  display: flex;
  min-height: 85%;
  position: relative;
  background-color: $vf-purple;
  background-image: linear-gradient(-35deg, $vf-blue 50%, $vf-purple 50%);

  h1 {
    font-size: 2rem;
  }

  .hero-graphic {
    background: url(/img/new/bg-masthead.png) no-repeat top center;
    background-size: contain;
    height: 16rem;
    @media (min-width: 768px) {
      background-size: 100%;
      height: 75%;
    }
  }

  .logo-wrapper {
    height: 30%;
    position: relative;
    .logo {
      max-height: 80%;
      padding: 1rem 0 0 0;
    }
    @media (min-width: 768px) {
      .logo {
        transform: rotate(-32deg);
        left: -5%;
        bottom: -15%;
        position: absolute;
      }
    }
  }
  .hero-form-wrapper {
    padding: 1rem;
    background: $vf-purple;

    input {
      font-size: 1.5rem;
      &::placeholder {
        color: $vf-blue;
      }
    }
    input:focus {
      background: white;
      &::placeholder {
        color: rgba($vf-blue, 0.25);
      }
    }

    input:focus + .btn {

    }
  }

  h2 {
    color: white;
    mix-blend-mode: overlay;
    font-size: 3.5rem;
    @media (min-width: 768px) { font-size: 5rem; }
    @media (min-width: 992px) { font-size: 7rem; }
  }
  h3 {
    text-shadow: 2px 2px $vf-purple;
    color: white;
    font-size: 2rem;
    @media (min-width: 768px) { font-size: 3rem; }
    @media (min-width: 992px) { font-size: 3.5rem; }
  }
}
