<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <style>
      body { font-family: 'Merriweather Sans', sans-serif; }
      .small { font-size: 0.8em; }
      .pagebreak { page-break-before: always; }
      .cover { font-family: sans-serif; margin-top: 4.5em; margin-right: 2em; margin-left: 2em; }
    </style>
  </head>
  <body>
    <div class="cover">
      <h1>Vote Forward Voter List</h1>
      <p>Thank you for writing letters to help flip Congress blue! Here's some information about the {{voters.length}} voters in this batch. The addresses are also in small print at the bottom of each letter for easy reference.</p>
      <p>Return address(es): your FIRST NAME AND LAST INITIAL, plus:<br>
      </p>
        <ul class="small">
          {{#each returnAddresses}}
          <li style="list-style-type: none;  margin-left:-3em; margin-bottom: 0.2em;">
            {{this}}
          </li>
          {{/each}}
        </ul>
      <p>Voter names and addresses:<br>
      </p>
      <ul class="small">
        {{#each voters}}
        <li style="list-style-type: none;  margin-left:-3em; margin-bottom: 0.3em;">
          {{#if this.salutation}}[{{this.salutation}}]{{/if}} {{this.first_name}} {{this.last_name}}{{#if this.suffix}} {{this.suffix}}{{/if}},
          {{this.address}}, {{this.city}}, {{this.state}} {{this.zip}}</li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>
