<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <style>
      body { font-family: 'Merriweather Sans', sans-serif; }
      .small { font-size: 0.7em; }
      .pagebreak { page-break-before: always; }
      .cover { font-family: sans-serif; margin-top: 4.5em; margin-right: 5em; margin-left: 5em; }
    </style>
  </head>
  <body>
    <div class="cover">
      <h1>Vote Forward Voter List</h1>
      <p>Thank you for writing letters to help flip Congress blue!</p>
      <p>Use these return address(es) for the letters in this file:<br>
        <span class="small">(Also in small print at bottom of each letter for easy reference.)</span>
      </p>
        <ul class="small">
          {{#each returnAddresses}}
          <li style="list-style-type: none;  margin-left:-3em; margin-bottom: 0.2em;">
            YOUR NAME, {{this}}
          </li>
          {{/each}}
        </ul>
      <p>Names and addresses of the {{voters.length}} voters in this file:<br>
        <span class="small">(Also in small print at bottom of each letter for easy reference.)</span>
      </p>
      <ul class="small">
        {{#each voters}}
        <li style="list-style-type: none;  margin-left:-3em; margin-bottom: 0.2em;">
          {{#if this.salutation}}[{{this.salutation}}]{{/if}} {{this.first_name}} {{this.last_name}}{{#if this.suffix}} {{this.suffix}}{{/if}},
          {{this.address}}, {{this.city}}, {{this.state}} {{this.zip}}</li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>
