<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body>
  <div class="ma2 container">
    <h1 class='center'>{{ site.title }}</h1>
    <p class="">Vote Forward works to increase voter turnout with a giant distributed chain letter.</p>
  </div>
  <form class="ma2" action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSedTCf2XUeJfyEnsxCXC633ognE9I98RlZOtUR_3IrbuDYCcQ/formResponse" target="no-target">
    <label>email</label>
    <input type="text" name="entry.1709092446" />
    <input type="submit" value="go" />
  </form>
  <iframe src="#" id="no-target" name ="no-target" style="visibility:hidden"></iframe>

{% include scripts.html %}
</body>
</html>
