<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
{% include head.html %}
</head>
<body>
  <div class="ma5 container">
    <h1 class='center'>{{ site.title }}</h1>
    <p>Vote Forward works to increase voter turnout with a never-ending chain letter. Citizens ask one another to pledge to cast their ballot by sending hand-written pleas in the mail with pre-stamped reply cards.</p>
  <p>Vote Forward is conducting a pilot experiment in advance of the December 12, 2017 Alabama special election for the U.S. Senate. Sign up for our mailing list to keep abreast of our progress or to send letters in the future.</p>
  </div>
  <form class="ma5 pt5" action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSedTCf2XUeJfyEnsxCXC633ognE9I98RlZOtUR_3IrbuDYCcQ/formResponse" target="no-target">
    <label>email</label>
    <input type="text" name="entry.1709092446" />
    <input type="submit" value="go" />
  </form>
  <iframe src="#" id="no-target" name ="no-target" style="visibility:hidden"></iframe>

{% include scripts.html %}
</body>
</html>
