.App-logo {
  animation: App-logo-gyrate infinite 3s linear;
  animation-direction: alternate;
  height: 80px;
}

@keyframes App-logo-gyrate {
  0% { width: 125px; }
  50% { width: 150px; }
  100%{ width: 125px; }
}
