.showcase {
  .showcase-img {
    min-height: 32rem;
    background-size: cover;
    background-position: center center;
  }

  .showcase-text {
    padding: 2rem;

    @media (min-width: 576px) { padding: 4rem; }
    @media (min-width: 768px) { padding: 7rem; }
  }
}
