// Utility classes
// ---
// These should be prefixed with `u-` and are designed to be helper utility
// classes for quickly styling HTML

.u-offscreen {
  position: absolute;
  left: -5000px;
}

.u-highlight {
  border-left: 4px solid $vf-red;
  padding-left: 1rem;
}

.u-quiet {
  opacity: 0.75;
}

// Reset link utility
.reset-link {
  color: #000;
  &:hover {
    color: #000;
    text-decoration: none;
  }
}

// Animations
.hover-grow {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.25s;
  transition-property: transform;
  &:hover {
    transform: scale(1.05);
  }
}
