// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "utilities.scss";
@import "font-awesome.scss";
// Components
@import "landing-page.scss";
@import "footer.scss";

.profile-pic {
  border-radius: 50%;
  max-width: 35px;
  height: auto;
  border: 3px solid white;
  overflow: hidden;
}

.navbar {
  /* background: #2C74FF url(../images/bg-diagonal.png) -35px -5px no-repeat; */
  /* background-size: 150px; */
  background-color: rgb(44, 116, 255);
  background-image: linear-gradient(-35deg, rgb(44, 116, 255) 50%, rgb(38, 45, 125) 50%);
  background-size: 50%;
  background-repeat: no-repeat;
  min-height: 100px;
}

/* Buttons */

// .btn {
//   border-radius: 4px;
//   color: $vf-blue;
//   font-size: 0.8rem;
//   text-transform: uppercase;
//   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   font-weight: 700;
// }

.btn-primary {
  color: #fff;
  background-color: $vf-blue;
}

/* Backgrounds */
.bg-light {
  background-color: #eee;
}

.bg-blue {
  background-color: $vf-blue;
}

.bg-lightblue {
  background-color: $vf-lightblue;
}

.bg-purple {
  background-color: $vf-purple;
}

/* Homepage */
.home--action-container {
  background-color: #eee;
  background-image: linear-gradient(-35deg, #eee 50%, rgb(38, 45, 125) 50%);
  background-size: 40% 10%;
  background-repeat: no-repeat;
}
